* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("../img/photo/photo-1511300636408-a63a89df3482.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.contain {

width: 100%;
margin-left: auto;
margin-right: auto;
min-width: 320px;
max-width: 768px;
max-height: 568px;


}


.cover {
  width: 100%;
  height: 500px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

h3 {
  color: white;
  font-family: Arial;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}

.box-1 {
  width: 95%;
  height: 55px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  /* float: left; */
}

.box-1 p {
  color: white;
  font-family: Arial;
  font-size: 14px;
  float: left;
}

.box-input {
  height: 30px;
  width: 100px;
  outline: none;
  /* float: right; */
}

.box-email {
  width: 210px;
}

.box-tel {
  width: 240px;
  height: 35px;
  background-color: transparent;
  text-align: right;
}

.box-tel-1 {
  width: 55px;
  /* margin-right: px; */
  padding-left: 10px;
}

input::placeholder {
  text-align: left;
}

.box-select {
  width: 180px;
  border: none;
  outline: none;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.box-textarea {
  width: 210px;
  height: 70px;
  margin-top: 10px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 5px;
}

.box-1-text {
  height: 90px;
}

.box-checkbox {
  width: 170px;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin-right: 45px;
  margin-top: 5px;
}

.box-checkbox input {
  width: 40px;
  height: 20px;
  /* float: left; */
}

.box-checkbox p {
  /* float: left; */
  color: black;
}

.box-checkbox img {
  width: 30px;
  height: auto;
}

.footer {

width: 95%;
height: 60px;
background-color: transparent;
margin-left: auto;
margin-right: auto;
margin-top: 15px;
line-height: 60px;
border-top: 2px solid white;
border-bottom: none;
}

.footer button {
height: 40px;
width: 140px;
font-family: Arial;
font-size: 16px;
border: 1px solid white;
background-color: transparent ;
margin-left: 20px;
border-radius: 10px;
color: white;
}
